@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #374639;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ececec;
}

/* ------------- SECTION 1 -------------- */
.section-1 {
    padding: 30px;
    background-color: white;
}

.section-title {
    width: 480px;
    margin-bottom: 30px;
}

.section-title h2 {
    font-size: 40px;
    line-height: 53px;
    font-weight: 400;
    letter-spacing: -0.05em;
    margin-bottom: 15px;
}

.section-title p {
    font-size: 17px;
}

.courses {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.courses .course {
    width: 100%;
}

.courses .course img {
    width: 100%;
}

.courses .course h3 {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.02em;
    margin: 5px 0;
}

.courses .course p {
    width: 92%;
    font-size: 15px;
    margin-bottom: 4px;
}

.courses .course .sale {
    font-size: 12px;
    color: #72776C;
    text-decoration-line: line-through;
}

.courses .course .schedules {
    margin-top: 25px;
}

.courses .course .schedules .schedule {
    margin: 20px 0;
}



/* -------------- SECTION 2 --------------- */

.section-2 {
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: start;
    justify-items: center;
    padding: 30px;
    text-align: center;
}

.section-2 .section-img img {
    border-radius: 5px;
}

.section-2 .section-content .title {
    font-size: 14px;
    color: #cfcfcf;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.section-2 .section-content .img-group {
    margin-bottom: 5px;
}

.section-2 .section-content .content {
    font-size: 28px;
    color: #0D0D0D;
    font-weight: 400;
    letter-spacing: -0.04em;
    width: 62%;
    margin: auto;
}

.section-2 .section-content .name {
    color: #0D0D0D;
    font-size: 16px;
    margin-top: 10px;
}

.section-2 .section-content .role {
    color: #cfcfcf;
    font-size: 16px;
}



/* -------------- REPONSIVE -------------- */
@media only screen and (max-width: 1024px) {
    .courses {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .section-2 .section-img img {
        width: 430px;
        height: 320px;
    }

    .section-2 .section-content .title {
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 35px;
    }

    .section-2 .section-content .img-group img {
        width: 12px;
        height: 24px;
    }
    
    .section-2 .section-content .content {
        font-size: 20px;
    }

    .section-2 .section-content .name {
        font-size: 14px;
    }

    .section-2 .section-content .role {
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {
    .courses {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .section-2 {
        display: block;
    }

    .section-2 .section-content .title {
        font-size: 16px;
    }

    .section-2 .section-content .content {
        font-size: 27px;
    }

    .section-2 .section-content .img-group img {
        width: 15px;
        height: 30px;
    }

    .section-2 .section-img img {
        width: 580px;
        height: 420px;
    }

    .section-2 .section-content .name {
        font-size: 18px;
    }

    .section-2 .section-content .role {
        font-size: 18px;
    }
}

@media only screen and (max-width: 600px) {
    .courses {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .section-title h2 {
        font-size: 42px;
    }

    .section-title p {
        font-size: 19px;
    }

    .courses .course img {
        height: 380px;
    }

    .courses .course h3 {
        font-size: 24px;
    }

    .courses .course p {
        width: 92%;
        font-size: 18px;
    }

    .courses .course .sale {
        font-size: 16px;
    }

    .courses .course .price {
        font-size: 22px;
    }

    .courses .course .schedules {
        font-size: 20px;
    }

    .section-2 .section-img img {
        width: 100%;
        height: 380px;
    }

    .section-2 .section-content .title {
        margin-bottom: 50px;
    }

    .section-2 .section-content .content {
        width: 84%;
        font-size: 28px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .section-2 .section-content .img-group img {
        width: 25px;
        height: 50px;
    }
}